# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
/static/
staticfiles/

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Migrations cache
*/migrations/__pycache__/

