<!DOCTYPE html>
<html>
<head>
    <title>Asset List</title>
</head>
<body>
    <h1>Asset List</h1>

    <table border="1">
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Asset Class</th>
            <th>Currency</th>
        </tr>

        {% for asset in assets %}
        <tr>
            <td>{{ asset.ticker }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.get_asset_class_display }}</td>
            <td>{{ asset.currency }}</td>
            <td>
	        <a href="{% url 'asset_edit' asset.pk %}">Edit</a> |
	        <a href="{% url 'asset_delete' asset.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
 
    </table>

</body>
</html>

