{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
 </head>

<style>
  .chart-container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
  }
  #pieChart {
    width: 100%;
    height: auto;
  }
</style>

<h2>銘柄別サマリー</h2>

<body>
  <a href="{% url 'asset_ticker_chart' %}"">銘柄別チャート</a>
  |
  <a href="{% url 'asset_list' %}"">銘柄一覧</a>

    {% load humanize %}
    <div class="container mx-4 my-2">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>銘柄</th>
                    <th>評価額合計（円）</th>
                    <th>割合</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker, data in grouped.items %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.value|floatformat:0|intcomma }}</td>
                    <td>{{ data.ratio|floatformat:2 }}%</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="">総資産額</th>
                    <th>{{ total|floatformat:0|intcomma }}</th>
                    <th>100.00%</th>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>