<!-- edit_asset.html -->
<h2>{{ asset.name }} を編集</h2>

<!-- 
fields = ["name", "asset_class", "owner", "financial_institution", 
"account_type", "ticker", "quantity", "average_price_usd", "average_price_jpy"] 
 -->
<form method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <p>{{ form.name.label_tag }} {{ form.name }}</p>
  <p>{{ form.asset_class.label_tag }} {{ form.asset_class }}</p>
  <p>{{ form.owner.label_tag }} {{ form.owner }}</p>
  <p>{{ form.financial_institution.label_tag }} {{ form.financial_institution }}</p>
  <p>{{ form.account_type.label_tag }} {{ form.account_type }}</p>
  <p>{{ form.ticker.label_tag }} {{ form.ticker }}</p>
  <p>{{ form.quantity.label_tag }} {{ form.quantity }}</p>
  <p>{{ form.average_price_usd.label_tag }} {{ form.average_price_usd }}</p>
  <p>{{ form.average_price_jpy.label_tag }} {{ form.average_price_jpy }}</p>
  <p>{{ form.average_exchange_rate.label_tag }} {{ form.average_exchange_rate }}</p>
  <button type="submit">更新</button>
</form>

{% load static %}
<script src="{% static 'portfolio/js/asset_form.js' %}""></script>

<a href="{% url 'asset_list' %}">戻る</a>

