<!DOCTYPE html>
<html>
<head>
    <title>Holdings</title>
<style>
    .spinner {
        border: 8px solid #f3f3f3; /* 薄いグレー */
        border-top: 8px solid #3498db; /* 青色 */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
</head>
<body>
    <div id = "loading" style="
       display:none;
       position:fixed;
       top:0; left:0;
       width:100%; height:100%;
       background:rgba(255,255,255,0.8);
       z-index:9999;

       justify-content:center;
       align-items:center;
       flex-direction:column;
       ">
       <div class="spinner"></div>
       <div style="margin-top:20px; font-size:24px;"> 更新中です。しばらくお待ちください... </div>
    </div>
    {% load humanize %}

    <h1>Holding</h1>

    <!-- 'urlpatterns[]の"holding_create"からurlを逆引きする -->
    <a href="{% url 'holding_create' %}">新規追加</a>
    |
    <a href="{% url 'holding_update' %}" onclick="showLoading()">即時更新</a>

    {% if last_updated %}
        <p>最終更新日: {{ last_updated|date:"Y-m-d" }}</p>
    {% endif %}

    
    {% if exchange_rate %}
        <span>USD_JPY: {{ exchange_rate }}<span>
    {% else %}
        <span>USD_JPY: Couldn't retrive! <span>
    {% endif %}
    
    <table>
      <thead>
        <tr>
          <th>名前</th><th>Ticker</th><th>数量</th><th>平均買値</th><th>現在価格</th><th>評価額</th><th>損益</th>
        </tr>
      </thead>
      <tbody>
        {% for h in holdings %}
        <tr>
          <td>{{ h.name }}</td>
          <td>{{ h.ticker }}</td>
          <td>{{ h.quantity|intcomma }}</td>
          <td>{{ h.average_price|floatformat:2|intcomma}}</td>
          <td>{{ h.current_price|floatformat:2|intcomma}}</td>
          <td>(USD) {{ h.valuation|floatformat:0|intcomma }}<br>(JPY) {{ h.valuation_jpy|floatformat:0|intcomma }}</td>
          <td>
              {% if h.profit >= 0 %}
                  <span style="color:green;">(USD) {{ h.profit|floatformat:0|intcomma}}<br>(JPY) {{ h.profit_jpy|floatformat:0|intcomma}}</span>
              {% else %}
                  <span style="color:red;">(USD) {{ h.profit|floatformat:0|intcomma}}<br>(JPY) {{ h.profit_jpy|floatformat:0|intcomma}}</span>
              {% endif %}
          </td>
          <td>
            <a href="{% url 'holding_edit' h.pk %}">編集</a>
            <a href="#" onclick="deleteHolding({{ h.pk }}); return false;">削除</a>
            <form id="delete-form-{{ h.pk }}" action="{% url 'holding_delete' h.pk %}" method="post" style="display:none;">
               {% csrf_token %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">合計</th>
          <th>(USD) {{ total_valuation|floatformat:0|intcomma }}<br>
              (JPY) {{ total_valuation_jpy|floatformat:0|intcomma }}</th>
          <th>
            {% if total_profit >= 0 %}
                <span style="color:green;">(USD ){{ total_profit|floatformat:0|intcomma }}<br>(JPY) {{ total_profit_jpy|floatformat:0|intcomma }}</span>
            {% else %}
                <span style="color:red;">{{ total_profit|floatformat:0|intcomma }}<br>(JPY) {{ total_profit_jpy|floatformat:0|intcomma }}</span><br>
            {% endif %}
          </th>
        </tr>
      </tfoot>
    </table>

    <script>
        function deleteHolding(id) {
            if (confirm("削除しますか?")) {
                document.getElementById(`delete-form-${id}`).submit();
            }
        }

        function showLoading() {
            document.getElementById("loading").style.display = "flex";
        }
    </script>
</body>

</html>

