<!DOCTYPE html>
<html>
<head>
    <title>Holdings</title>
</head>
<body>
    {% load humanize %}

    <h1>Holding</h1>

    <!-- 'urlpatterns[]の"holding_create"からurlを逆引きする -->
    <a href="{% url 'holding_create' %}">新規追加</a>

    {% if last_updated %}
        <p>最終更新日: {{ last_updated|date:"Y-m-d" }}</p>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th>名前</th><th>Ticker</th><th>数量</th><th>平均買値</th><th>現在価格</th><th>評価額（円）</th><th>損益（円）</th>
        </tr>
      </thead>
      <tbody>
        {% for h in holdings %}
        <tr>
          <td>{{ h.name }}</td>
          <td>{{ h.ticker }}</td>
          <td>{{ h.quantity|intcomma }}</td>
          <td>{{ h.average_price|intcomma}}</td>
          <td>{{ h.current_price|intcomma}}</td>
          <td>{{ h.valuation_jpy|floatformat:0|intcomma }} 円</td>
          <td>{{ h.profit_jpy|floatformat:0|intcomma}} 円</td>
          <td>
              <a href="{% url 'holding_edit' h.pk %}">編集</a>
              <form action="{% url 'holding_delete' h.pk %}" method="post" style="display:include;">
                  {% csrf_token %}
                  <button type="submit" onclick="return confirm('削除しますか？');">削除</button>
              </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</body>
</html>

