<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>Portfolio</h1>

    <table border="1">
        <tr>
            <th>Symbol</th>
            <th>Average Buy Price</th>
            <th>Current Price</th>
            <th>Quantity</th>
            <th>Profit / Loss</th>
        </tr>

        {% for p in portfolios %}
        <tr>
            <td>{{ p.symbol }}</td>
            <td>{{ p.average_buy_price|floatformat:2 }}</td>
            <td>{{ p.current_price|floatformat:2 }}</td>
            <td>{{ p.current_qty }}</td>
            <td>{{ p.profit_loss|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>

